
	
		<!-- Developer: AV Date: 1119AEM -->
<style>
    #header div.container{width:100%;}
    
    #ship-banner #new-equity-banner{
        border-bottom: 1px solid #aaa;
        background: #eee;
        display: block;
        font-size: 14px;
        width:100%;
        min-width:100%;
        height: 40px;
        position: relative;
        text-align: center;
        box-sizing: border-box;
    }
    
    #ship-banner .new-dc-equity-banner{
        width: 1024px;
        box-sizing: border-box;
        /* padding: 13px 20px 13px 10px; */
        text-align: center;
        margin: 0 auto;
        padding: 13px 0;
    }
    
    #ship-banner .new-dc-equity-banner a span{
        text-decoration:underline;
        text-transform:none;
        font-size:10px;
    
    }
    
    a .ghr-ntfTopPanel_price span{
        font-size: 14px !important;
        text-decoration: none !important;
    }
    
    /* To make the Details of notification link small */
    a.ghr-ntfTopPanel_detailslnk{
        font-size: 10px !important;
    }
    
    /* Padding & Size Adjustments for long text */
    #ship-banner .new-dc-equity-banner{
        padding:13px 0 !important;
    }
    
    #ship-banner .new-dc-equity-banner a{
        float:none;
        text-decoration: none;
        color: black;
        font-size: 14px;
        font-family: "Gotham 4r",Helvetica,Arial,sans-serif;
        text-align: center;
        padding: 15px 20px 10px 10px;
        font-size: 12px !important; 
        padding: 0px 3px !important;
    }
    
    /* adjustments for testing team */
    #ship-banner .new-dc-equity-banner b{
        font-family: "Gotham 7r",Helvetica,Arial,sans-serif!important;
        font-weight: normal!important;
    }
    
    /* Tablet Styles */
    @media only screen and (min-width: 768px) and (max-width: 1023px){
        #ship-banner .new-dc-equity-banner{
            min-width:100%;
            width:100%;
        }
    
        #ship-banner .new-dc-equity-banner a.dcp-banner-right{
            display:none !important;
        }
    }
    
    /* MCOM Styles */
    @media only screen and (max-width: 767px){
        #ship-banner .new-dc-equity-banner{
            min-width:100%;
            width:100%;
        }
    
        #ship-banner .new-dc-equity-banner a.dcp-banner-center,
        #ship-banner .new-dc-equity-banner a.dcp-banner-right{
            display:none !important;
        }
    }
</style>
    
    
<div id="ship-banner">
    <div class="clearfix" id="new-equity-banner">
        <div class="new-dc-equity-banner">
            <a href="https://www.kohls.com/ecom/shipping/25_Shipping_916_3-6.html" target="_blank" class="dcp-banner-left" style="color: #da2128;"><b>Free shipping</b> with <b>$25</b> purchase. <span>details</span>
            </a>
            <a href="https://www.kohls.com/catalog.jsp?CN=InStoreOnline:Pick%20Up%20in%20Store&BL=y&icid=sb-bopus" target="_blank" class="dcp-banner-center notification-hide-banner"><b>Fast &amp; free</b> store pickup! <span>details</span>
            </a>
            <a href="https://www.kohls.com/ecom/PrintPass/GOSHOP15/20231119.html" target="_blank" class="dcp-banner-right notification-hide-banner">
                <b>Take 15% off</b> in store &amp; online with code GOSHOP15. <span>details</span>
            </a>
            <!-- <div id="notificationbanner"></div> -->
        </div>
    </div>
</div>
	

