/* ==========================================================================
   Base styles
   ========================================================================== */


body { /* Remove to match PDP text style */
    font-family: "Gotham 4r", Arial, "sans-serif";
    left: auto;
}

.size-guide-grid-container h2 {
	margin-top: 0;
	font-size: 17px;
}

.size-guide-grid-container h3 {
	margin-bottom: 0;
	font-size: 15px;
}


/* ==========================================================================
   Table
   ========================================================================== */

.table-wrapper {
	overflow-x: auto;
	margin-top: 2em;
	margin-bottom: 2em;
	clear: both;
}

table {
	clear: both;
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	border: 1px solid #CCC;
	width: 80%;
}

table caption {
	color: #FFF;
	background-color: #333;
}

caption, th {
	font-weight: bold;
}

caption, th, td {
	padding: 0.8em;
	text-align: left;
}

thead th {
	background-color: #EEE;
	text-align: left;
}

tbody tr:hover {
	background-color: #DDD;
}

tr:nth-child(even) {
	background: #EEE;
}

tr:nth-child(odd) {
	background: #FFF;
}

/* Table Row Hover */
.hover { 
	background-color: #CCC;
}


/* ==========================================================================
   Grid
   ========================================================================== */

.size-guide-grid-container {
	display: flex;
	margin-bottom: 1em;
	font-size: 15px;
	color: #464646;
}

.grid-column-1 {
	flex-basis: auto;
}

.grid-column-2 {
	flex: auto;
	margin-left: 20px;
}

.grid-column-1 img {
    margin-left: 10px;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.size-guide-grid-container p {
	margin-top: 0;
	margin-left: 2.5em;
}

.diagram .bullet {
    position: absolute;
    z-index: 1;
    font-size: 13px;
    left: 4px;
}

.bullet {
	display: inline-block;
	width: 24px;
	height: 24px;
	background-color: #c4ddf3;
	border: 2px solid #FFF;
	color: #222;
	line-height: 24px;
	margin-right: 6px;
	border-radius: 20px;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
}
