#OTPLinkSend {
    width: 700px;
    /*height: 472px;*/
    background-color: #ffffff;
}
#temporaryLinkHasBeenSent,#linkNoLongerValid,#contactCustomerService,#orderHasBeenPlaced,#orderCancel,#checkYourEmailContainer {
    width: 700px;
    height: 320px;
    background-color: #ffffff;
}
.otp-model-header {
    width: 700px;
    height: 33px;
    background-color: #f0f0f0;
    padding-top: 15px;
}
.otp-model-header-title {
    font-size: 16px;
    color: #454545;
    text-transform: uppercase;
    margin-left: 40px;
    font-family: 'Gotham 4r';
    font-weight: bold;
}
.tr-otp-inner-container {
    margin-left: 40px;
    padding-bottom: 20px;
}
.tr-otp-box-caption {
    margin-top: 40px;
}
.tr-otp-box-caption {
    height: 40px;
    font-size: 20px;
    font-family: 'Gotham 4r', Helvetica, Arial, sans-serif;
    letter-spacing: 0.4px;
    color: #222222;
}

.tr-otp-box-message {
    width: 560px;
    height: 40px;
    font-family: 'Gotham 4r', Helvetica, Arial, sans-serif;
    line-height: 1.18;
    letter-spacing: -0.4px;
    margin-top: 10px;
    color: #444444;
    font-size: 17px;
}

.tr-otp-box-message b{
    font-family: 'Gotham 5r', Helvetica, Arial, sans-serif;
}

.tr-otp-box-caption-bold {
    height: 20px;
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.18;
    color: #444444;
    display: inline-block;
}
.tr-otp-masked-number {
    height: 20px;
    font-size: 17px;
    line-height: 1.18;
    color: #444444;
    margin-top: 24px;
    font-family: 'Gotham 4r', Helvetica, Arial, sans-serif;
    font-weight: normal;
}
.tr-otp-masked-number b, .tr-otp-customer-service-massege b{
    font-family: 'Gotham 5r', Helvetica, Arial, sans-serif;
}
.tr-otp-ask-new-number {
    font-size: 17px;
    font-family: 'Gotham 4r', Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.18;
    color: #444444;
    margin-top: 24px;
}

.tr-otp-ask-new-number-input {
    font-family: 'Gotham 4r', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.18;
    color: #444444;
    margin-top: 32px;
}
.tr-otp-ask-new-number-input input {
    font-size: 15px;
    width: 288px;
    height: 48px;
    border-radius: 4px;
    border: solid 1px #cccccc;
    padding-left: 10px;
    background: transparent;
    position: absolute;
    font-style: normal;
}
.cancel-newMobileNumber a {
    background-size: 16px 16px;
    background-image: url(../images/otp/ic-clear.png);
    background-repeat: no-repeat;
    height: 30px;
    width: 16px;
    margin-top: 18px;
    margin-left: 268px;
    position: relative;
    display: inline-block;
}
.tr-otp-ask-new-number-input input::-webkit-input-placeholder {
    font-size: 15px;
    font-style: normal;
    font-family: 'Gotham 4r';
    letter-spacing: -0.24px;
}
.tr-otp-ask-new-number-link a{
    width: 293px;
    height: 20px;
    font-family: 'Gotham 5r', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 1.18;
    letter-spacing: 0.5px;
    color: #208033;
}
.tr-otp-massege-valid-link{
    background-size: 32px 32px;
    background-image: url(../images/otp/ic-clock.png);
    background-repeat: no-repeat;
    margin-top: 32px;
    background-position: left top;
    height: 32px;
}
.tr-otp-massege-valid-link-msg {
    font-family: 'Gotham 4r', Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.33;
    letter-spacing: -0.2px;
    color: #444444;
    padding-left: 40px;
    position: relative;
    top: 6px;
}
.tr-otp-disclaimer-massege{
    width: 250px;
    font-family: 'Gotham 4r', Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-weight: normal;
    line-height: 1.09;
    letter-spacing: 0.1px;
    color: #666666;
    padding-left: 40px;
    padding-top: 3px;
}
.tr-otp-customer-service-massege {
    width: 580px;
    font-family: 'Gotham 4r', Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.18;
    letter-spacing: -0.4px;
    color: #444444;
    margin-top: 40px;
}

#checkYourEmailContainer .tr-otp-customer-service-massege p {
    width: 620px;
    font-size: 16px;
}

#contactCustomerService .tr-otp-customer-service-massege {
    margin-top: 5px;
}

.cancel-btn-text-white {
    height: 48px;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Gotham 4r', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    text-align: center;
    color: #222222;
    border: solid 1px #aaaaaa;    
    border-radius: 4px;    
    background-color: #ffffff;
    width: 200px;  
    text-transform: uppercase;
}
.send-greenBtn-text-white, .backToSign-greenBtn-text-white {
    height: 48px;
    font-family: 'Gotham 4r', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 0.5px;
    text-align: center;
    color: #ffffff;    
    border-radius: 4px;
    background-color: #208033;
    margin-left: 24px;
    width: 200px;
    text-transform: uppercase; 
}
.tr-otp-sent-btn-section button {outline: 0;}
.backToSign-greenBtn-text-white {
    margin-left: 40px;
    margin-top: 10px;
    padding: 0;
}
.tr-otp-sent-btn-section{
    margin-top: 48px;
}

.linkNoLongerValid {
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.18;
    color: #444444;
    margin-top: 20px;
}
.tr-otp-order-success-msg-check-circle{
    background-size: 42px 42px;
    background-image: url(../images/otp/ic-check-circle-glyph.png);
    background-repeat: no-repeat;
    margin-top: 0px;
    height: 43px;
}
.tr-otp-order-success-msg {
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.18;
    color: #444444;
    margin-top: 40px;
    padding-left: 49px;
    padding-top: 11px;
}
.tr-otp-order-number-massege {
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.18;
    letter-spacing: -0.4px;
    color: #444444;
    margin-top: 24px;
}
.continue-greenBtn-text-white {
    height: 48px;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 0.5px;
    text-align: center;
    color: #ffffff;
    border-radius: 4px;
    background-color: #208033;
    margin-left: 40px;
    width: 200px;
    padding-right: 0px;
    text-transform: uppercase;
}
.back-Btn-text-white {
    height: 48px;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 0.5px;
    text-align: center;
    color: #222222;
    border-radius: 4px;
    background-color: #ffffff;
    margin-left: 40px;
    width: 200px;
    padding-right: 0px;
    text-transform: uppercase;
    border: solid 1px #aaaaaa;
}
.cancel-redBtn-text-white{
    height: 48px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.5px;
    text-align: center;
    color: #ffffff;
    border-radius: 4px;
    background-color: #dd0000;
    margin-left: 40px;
    width: 200px;
    padding-right: 0px;
    text-transform: uppercase;
    border: solid 1px #aaaaaa;
}
.tr-otp-cancel-btn-section {
    margin-top: 95px;
}
.payfone-identify-text{
  height: 15px;
  font-family: 'Gotham 4r', Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 1;
  letter-spacing: -0.2px;
  color: #dd0000;
  position: relative;
  top: 25px;
}
.payfone-text-message{
  height: 16px;
  font-family: 'Gotham 4r', Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: -0.1px;
  color: #dd0000;
  margin-top: 5px;
}
.tr-error-cross-icon{
    height: 8px;
    width: 8px;
    object-fit: contain;
    display: inline-block;
    padding-top: 5;
    background-size: 8px 8px;
    background-image: url(../images/otp/error-icon.png);
    background-repeat: no-repeat;
}
.invalid-mobile-number-error-message{
  width: 570px;
  height: 66px;
  background-color: #dd0000;

  margin-top: 15px;
  padding-left: 16px;
  padding-top: 10px;
}
.ic-alert-circle-glyph{
    background: url(../images/otp/ic-alert-circle-glyph.png);
    width: 16px;
    background-size: cover;
    height: 16px;
    object-fit: contain;
    display: inline-block;
    margin-top: 9px;
    vertical-align: top;
}
.error-message{
  display: inline-block;
  width: 489px;
  height: 54px;
  padding-left: 6px;
  font-family: 'Gotham 4r', Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: -0.4px;
  color: #ffffff;
  padding-top: 8px;
}

.tr-otp-ask-new-number-input input.invalid{
    border: 1px solid #ff0000
}

.tr-otp-sent-btn-section .ma-save-address-loader {
    margin-left: 100px;
}
.tr-otp-ask-new-number .ma-save-address-loader {
    margin-left: 5px;
}
.tr-otp-ask-new-number img.submit_loader {
    margin: -2px;
}

#checkYourEmailContainer .green-emailName {
    color: #208033;
  }


.reset-password-fancybox-content a#frame-tab-start,
.reset-password-fancybox-content a#frame-tab-end {
    outline: 0;
}

#fancybox-content.reset-password-fancybox-content{
    border-width: 0!important;
    border-radius: 8px;
}

.reset-password-fancybox-content.modal-fancybox-content + #fancybox-close.custom_fancybox_close_btn{
    background: url(../images/otp/ic-close.png) no-repeat !important;
    right: 12px !important;
    top: 10px !important;
    height: 32px !important;
    width: 32px !important;
}
.reset-password-fancybox-content-outer {
    border-radius: 8px;
}

.reset-password-fancybox-content-outer .fancybox-bg {
    display: none;
}

.tr-otp-consent {
    margin-top: 10px;
    width: 593px;
    height: 40px;
    font-family: 'Gotham 4r', Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: -0.2px;
    color: #444;
}

/* jquery modal starts here */
.jquery-modal #OTPLinkSend {
    width: 700px;
    background-color: #ffffff;
    padding: 0;
}

.jquery-modal .forgot_password.modal{
    height: auto;
    line-height: 1.35;
    font-weight: 400;
    padding: 0;
}

.jquery-modal .modal_title {
    line-height: 1.4;
}
  
.jquery-modal .forgot_password, .jquery-modal #temporaryLinkHasBeenSent, 
.jquery-modal #linkNoLongerValid, .jquery-modal #contactCustomerService,
.jquery-modal #orderHasBeenPlaced, .jquery-modal #orderCancel, 
.jquery-modal #checkYourEmailContainer, .jquery-modal #temporaryLinkHasBeenSent {
    width: 700px;
    height: 320px;
    background-color: #ffffff;
    padding: 0;
    color: #464646;
}
.jquery-modal .otp-model-header {
    width: 700px;
    height: 33px;
    background-color: #f0f0f0;
    padding-top: 15px;
    border-radius: 8px 8px 0 0;
}

.jquery-modal .custom-reset-password-close-btn{
    background: url(../images/otp/ic-close.png) no-repeat !important;
    right: 12px !important;
    top: 10px !important;
    height: 32px !important;
    width: 32px !important;
    position: absolute;
}

#fancybox-wrap .custom-reset-password-close-btn{
    display: none !important;
}
/* jquery modal ends here */
